$navbar-height: 95px;
$navbar-default-bg: #FFF;
$navbar-default-color: #222;
$navbar-default-link-color: #222;
$navbar-default-link-hover-color: #50E3C2;


$font-family-sans-serif:  "Open Sans", Helvetica, Arial, sans-serif;
$font-size-base: 32px;
$font-size-retina-base: 16px;

$color-dark-blue: #2B2A31;
$color-footer: #2F2F36;
$color-headings: #2F3435;
$color-red: #FB3535;
$color-tint: #F5F6F6;
$color-dark-tint: #ECECEC;
$color-brown: #491D1D;
$color-links: #3B3B47;

$color-skills-bg: #262129;
$color-about-bg: #313038;
$color-social-bg: #232329;
$color-light-blue: #40404A;

$headings-font-family:    "Museo Slab";
$headings-font-weight:    normal;
$headings-line-height:    1.1;
$headings-color:          $color-headings;


$font-size-h1:            57px;
$font-size-h2:            42px;
$font-size-h3:            30px;
$font-size-retina-h1:            28px;
$font-size-retina-h2:            21px;
$font-size-retina-h3:            15px;

$text-color: #2F3435;
