.about {

}

  .about__copy {
    font-size: 30px;
    line-height: 51px;
    margin-bottom: 30px;
    color: #fff;
    font-family: "Georgia", serif;

    @include retina {
      font-size: 15px;
      line-height: 25px;
      margin-bottom: 15px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media(min-width: $screen-sm-min) {
      font-size: 19px;
      line-height: 37px;
      letter-spacing: 0;
    }
  }

  .about__image {
    background-image: url(../images/fam-pic-mobile.jpg);
    background-position: right center;
    background-size: cover;
    height: 500px;
    width: 100%;

    @media(min-width: $screen-sm-min) {
      width: 50%;
      float: left;
      height: inherit;
      background-image: url(../images/fam-pic.jpg);
    }

    @include retina {
      height: 250px;
    }
  }

  .about__content {

    @media(min-width: $screen-sm-min) {
      width: 50%;
      float: left;
    }

    padding-top: 60px;
    padding-bottom: 80px;
    padding-left: 30px;
    padding-right: 30px;

    @include retina {
      padding-top: 30px;
      padding-bottom: 40px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }