.press-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

  .press-list__item-wrap {
    max-width: 600px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;

    @include retina {
      margin-bottom: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: 1200px) {
      width: 50%;

      &:nth-child(odd) {
        float: left;
        padding-right: 25px;
      }

      &:nth-child(even) {
        float: right;
        padding-left: 25px;
      }

      &:nth-last-child(2) {
        margin-bottom: 0;
      }
    }
  }
  .press-list__item {
    background-color: #fff;
    border-radius: 0 4px 4px 0;

    -webkit-box-shadow: 0 10px 30px 0 rgba(0,0,0,0.05);
       -moz-box-shadow: 0 10px 30px 0 rgba(0,0,0,0.05);
        -ms-box-shadow: 0 10px 30px 0 rgba(0,0,0,0.05);
         -o-box-shadow: 0 10px 30px 0 rgba(0,0,0,0.05);
            box-shadow: 0 10px 30px 0 rgba(0,0,0,0.05);


   
  }

  .press-list__copy {
    font-size: 15px;
    font-style: italic;
    line-height: 26px;
    letter-spacing: .25px;
    color: #6B6B6B;

    margin-bottom: 0;
    padding-left: 30px;
    padding-right: 25px;

    @include retina {
      font-size: 8px;
      line-height: 13px;
      letter-spacing: .12px;

      padding-left: 15px;
      padding-right: 12px;
    }
  }

  .press-list__source {
    font-weight: 600;
    color: #575757;
    font-style: normal;
    display: inline-block;
  }